<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="/">Socialize</a>
        </div>

        <ul class="nav navbar-nav navbar-right">

            <li class="nav-item">
                <a class="nav-link" href="/people">People</a>
            </li>

            <%if(!user){%>
            <li><a class="dropdown-toggle" data-toggle="dropdown" href="#">Signup / Login</a>
                <ul class="dropdown-menu">
                    <li><a href="/signup">Signup</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </li>

            <%} else {%>

            <li class="nav-item">
                <a class="nav-link" href="/friends">Friends</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/wall">Wall</a>
            </li>

            <li>
                <% if(user.lastname == 'undefined') { %>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span style="font-weight: bold;font-size: larger;"><%= user.firstname%></span></a>
                <% } else { %>
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span style="font-weight: bold;font-size: larger;"><%= user.firstname%>&nbsp;<%= user.lastname%></span></a>
                <% } %>
                <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
            <%}%>

        </ul>

    </div>
</nav>
